extensions:
    eloquent: Gingdev\NetteExtension\EloquentExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)


eloquent:
    driver: sqlite
    database: %appDir%/database.db

services:
    - Gingdev\NetteExtension\Command\MakeMigrationCommand
    - Gingdev\NetteExtension\Command\MigrateCommand
