parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days


di:
    export:
        parameters: no
        tags: no

security:
    authentication:
        cookieName: userToken
        expiration: 30 days
        storage: cookie

services:
    - App\Router\RouterFactory::createRouter
    - App\Model\Authenticator
    - App\Model\AuthorizatorFactory::create
    redbean: GingTeam\RedBean\Facade::setup(sqlite:%appDir%/database.db)
