extensions:
    menu: Contributte\MenuControl\DI\MenuExtension

menu:
    default:
        templates:
            breadcrumbs: %appDir%/Presenters/templates/breadcrumbs.latte
        items:
            Home:
                action: 'Homepage:'
                items:
                    Dashboard:
                        action: 'Homepage:'
                        include: '^Homepage\:[a-zA-Z\:]+$'
                    Login:
                        action: Sign:in

