<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name,photo_big;providers=facebook;hidden=;redirect_uri={link this|escapeUrl};mobilebuttons=0;"></div>
